<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ISST_G15_ControlGlucosa</servlet-name>
		<servlet-class>es.isst.g15.ISST_G15_ControlGlucosaServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ServletRegistroPaciente</servlet-name>
	    <servlet-class>es.isst.g15.ServletRegistroPaciente</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ServletRegistroMedico</servlet-name>
	    <servlet-class>es.isst.g15.ServletRegistroMedico</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ServletLogIn</servlet-name>
	    <servlet-class>es.isst.g15.ServletLogIn</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ServletSeleccionaMedico</servlet-name>
	    <servlet-class>es.isst.g15.ServletSeleccionaMedico</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ServletLogOut</servlet-name>
	    <servlet-class>es.isst.g15.ServletLogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G15_ControlGlucosa</servlet-name>
		<url-pattern>/isst_g15_controlglucosa</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ServletRegistroPaciente</servlet-name>
		<url-pattern>/ServletRegistroPaciente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRegistroMedico</servlet-name>
		<url-pattern>/ServletRegistroMedico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLogIn</servlet-name>
		<url-pattern>/logIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLogOut</servlet-name>
		<url-pattern>/logOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletSeleccionaMedico</servlet-name>
		<url-pattern>/seleccionaMedico</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
